<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <title>Administration</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/collapseCSS.css' )}}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/collapseJS.js') }}"></script>
</head>

<header>
    <nav class="navbar navbar-default" style="background-color: #ffffff; border-bottom-color: black; margin-bottom: 0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a class="glyphicon glyphicon-menu-hamburger" href="#"></a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="#">
                            <strong style="color: orange;">UTEP & ARL</strong>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right" style="margin-top: 8px; margin-right: 8px;">
                    <div class="dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle" style="background-color: #ECECEC;"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <strong>Logged in: {{ user['first_name'] + " " + user['last_name'] }}</strong>
                            <span class="caret" style="color: #2F80C1;"></span>
                        </button>
                        <ul class="dropdown-menu" style="background-color: #F8F8F8; border-color: black; width: 250px">
                            <div class="col-sm-6">
                                <li>
                                    <a href="{{ url_for('logout', logout='logout') }}">
                                    <button type="button" class="btn btn-default"
                                            style="background-color: #ECECEC; margin-bottom: 5px; width: 100px;">
                                        Logout
                                    </button>
                                    </a>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-default"
                                            style="background-color: #ECECEC; margin-bottom: 5px; width: 100px;">
                                        User Profile
                                    </button>
                                </li>
                            </div>
                            <div class="col-sm-6">
                                <li>
                                    <button type="button" class="btn btn-default"
                                            style="background-color: #ECECEC; margin-bottom: 5px; width: 100px;">
                                        Preference
                                    </button>
                                </li>
                            </div>
                        </ul>
                    </div>
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</header>

<!-- UP Overlay Window -->
<div id="addOverlay" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 50%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" align="center" style="background-color: #B8D0E4;">
                <strong>New User Profile</strong>
            </div>
            <div class="modal-body" style="background-color: #E2ECF3;">
                <table class="table">
                    <tbody>
                    <tr>
                        <td class="col-sm-2" style="border-color: #E2ECF3;"><strong>First Name</strong></td>
                        <td class="col-sm-8" style="border-color: #E2ECF3;">
                            <input type="text" class="form-control" placeholder="First Name"
                                   aria-describedby="sizing-addon1">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2" style="border-color: #E2ECF3;"><strong>Last Name</strong></td>
                        <td class="col-sm-8" style="border-color: #E2ECF3;">
                            <input type="text" class="form-control" placeholder="Last Name"
                                   aria-describedby="sizing-addon1">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2" style="border-color: #E2ECF3;"><strong>Organization</strong></td>
                        <td class="col-sm-8" style="border-color: #E2ECF3;">
                            <input type="text" class="form-control" placeholder="Organization"
                                   aria-describedby="sizing-addon1">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2" style="border-color: #E2ECF3;"><strong>Email</strong></td>
                        <td class="col-sm-8" style="border-color: #E2ECF3;">
                            <input type="text" class="form-control" placeholder="Email"
                                   aria-describedby="sizing-addon1">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2" style="border-color: #E2ECF3;"><strong>Password</strong></td>
                        <td class="col-sm-8" style="border-color: #E2ECF3;">
                            <input type="password" class="form-control" placeholder="Password"
                                   aria-describedby="sizing-addon1">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2" style="border-color: #E2ECF3;"><strong>Workshop History</strong></td>
                        <td class="col-sm-8" style="border-color: #E2ECF3;">
                            <table class="table"  style="background-color: #E2ECF3;">
                                <tbody>
                                <tr>
                                    <td class="col-sm-6" style="border-color: #E2ECF3;">Workshop A</td>
                                    <td class="col-sm-6" style="border-color: #E2ECF3;">12/01/17</td>
                                </tr>
                                <tr>
                                    <td class="col-sm-6" style="border-color: #E2ECF3;">Workshop B</td>
                                    <td class="col-sm-6" style="border-color: #E2ECF3;">12/02/17</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer" style="background-color: #E2ECF3">
                <button type="button" class="btn btn-default">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- UP Overlay Window -->
<div id="detailsOverlay" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 50%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" align="center" style="background-color: #B8D0E4;">
                <strong>User Profile Detailed View</strong>
            </div>
            <div class="modal-body" style="background-color: #E2ECF3;">
                <table class="table">
                    <tbody>
                    Details and stuff
                    </tbody>
                </table>
                <table class="table">
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer" style="background-color: #E2ECF3">
                <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>

<body style="height: calc(100% - 52px);">
<div class="col-sm-12" align="center">
  <strong style="color: red;">{{ page_error }}</strong>
</div>
    <div class="sidebar col-md-2">
        <div class="nav nav-pills nav-stacked">
            <li><a href="{{ url_for('admin_servers') }}"><img src="{{ url_for('static', filename='images/servers_icon.png') }}"></a></li>
            <li><a href="{{ url_for('admin_virtual_machines') }}"><img src="{{ url_for('static', filename='images/virtual_machines_icon.png') }}"></a></li>
            <li><a href="{{ url_for('admin_workshop_groups') }}"><img src="{{ url_for('static', filename='images/workshop_groups_icon.png') }}"></a></li>
            <li><a href="{{ url_for('admin_workshop_units') }}"><img src="{{ url_for('static', filename='images/workshop_units_icon.png') }}"></a></li>
            <li><a href="{{ url_for('admin_statistics') }}"><img src="{{ url_for('static', filename='images/statistics_icon.png') }}"></a></li>
            <li class="active"><a href="{{ url_for('admin_user_profiles') }}" style="background-color: #B8D0E4;"><img src="{{ url_for('static', filename='images/user_profiles_icon.png') }}"></a></li>
        </div>
    </div>

    <div class="panel panel-default col-md-10" style="border-right-color: black; border-left-color: black; max-height: 100%; height: 100%; margin-bottom: 0px;">
        <div class="panel-body" style="height: 100%;">

            <nav class="navbar navbar-default" style="background-color: #ffffff; border-color: #ffffff; margin-bottom: 0px;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addOverlay"
                                            style="background-color: #ECECEC; margin-top: 8px; margin-right: 8px;">
                                        +User
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-default"
                                            style="background-color: #ECECEC; margin-top: 8px; margin-right: 8px;">
                                        Delete
                                </button>
                            </li>
                        </ul>
                 </div>
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon1">
                        </div>
                    </ul>
                </div>
                </div><!-- /.container-fluid -->
            </nav>

            <div class="panel panel-default" style="background-color: #FCFCFC; border-color: black; max-height: 90%; height: 90%;">
                <div class="panel-heading" style="background-color: #BCD3E6;" align="center"><strong>User Profiles</strong></div>
                    <div class="panel-body" style="max-height: 92%; overflow-y: scroll;">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="col-sm-1" scope="col" align="center">
                                    <input type="checkbox">
                                </th>
                                <th class="col-sm-4" scope="col" align="center">
                                    <strong>First Name</strong>
                                    <i class="table-sort-button glyphicon glyphicon-triangle-bottom"></i>
                                </th>
                                <th class="col-sm-4" scope="col" align="center">
                                    <strong>Last Name</strong>
                                    <i class="table-sort-button glyphicon glyphicon-triangle-bottom"></i>
                                </th>
                                <th class="col-sm-3" scope="col" align="center">
                                    <strong>Organization</strong>
                                    <i class="table-sort-button glyphicon glyphicon-triangle-bottom"></i>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox">
                                </th>
                                <td>
                                    <i class="table-drop-button glyphicon glyphicon-triangle-right" data-toggle="collapse" data-target="#idOfRow1"></i>
                                    <a data-toggle="modal" data-target="#detailsOverlay">First Name</a>
                                </td>
                                <td><a data-toggle="modal" data-target="#detailsOverlay">Last Name</a></td>
                                <td>Organization</td>
                            </tr>
                            <tr id="idOfRow1" class="collapse out">
                                <td></td>
                                <td>
                                    Email Address: firstALastA@abc.com<br>
                                    Skill Level: Novice
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox">
                                </th>
                                <td>
                                    <i class="table-drop-button glyphicon glyphicon-triangle-right" data-toggle="collapse" data-target="#idOfRow2"></i>
                                    <a data-toggle="modal" data-target="#detailsOverlay">First Name</a>
                                </td>
                                <td><a data-toggle="modal" data-target="#detailsOverlay">Last Name</a></td>
                                <td>Organization</td>
                            </tr>
                            <tr id="idOfRow2" class="collapse out">
                                <td></td>
                                <td>
                                    Email Address: firstALastA@abc.com<br>
                                    Skill Level: Novice
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox">
                                </th>
                                <td>
                                    <i class="table-drop-button glyphicon glyphicon-triangle-right" data-toggle="collapse" data-target="#idOfRow3"></i>
                                    <a data-toggle="modal" data-target="#detailsOverlay">First Name</a>
                                </td>
                                <td><a data-toggle="modal" data-target="#detailsOverlay">Last Name</a></td>
                                <td>Organization</td>
                            </tr>
                            <tr id="idOfRow3" class="collapse out">
                                <td></td>
                                <td>
                                    Email Address: firstALastA@abc.com<br>
                                    Skill Level: Novice
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox">
                                </th>
                                <td>
                                    <i class="table-drop-button glyphicon glyphicon-triangle-right" data-toggle="collapse" data-target="#idOfRow4"></i>
                                    <a data-toggle="modal" data-target="#detailsOverlay">First Name</a>
                                </td>
                                <td><a data-toggle="modal" data-target="#detailsOverlay">Last Name</a></td>
                                <td>Organization</td>
                            </tr>
                            <tr id="idOfRow4" class="collapse out">
                                <td></td>
                                <td>
                                    Email Address: firstALastA@abc.com<br>
                                    Skill Level: Novice
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox">
                                </th>
                                <td>
                                    <i class="table-drop-button glyphicon glyphicon-triangle-right" data-toggle="collapse" data-target="#idOfRow5"></i>
                                    <a data-toggle="modal" data-target="#detailsOverlay">First Name</a>
                                </td>
                                <td><a data-toggle="modal" data-target="#detailsOverlay">Last Name</a></td>
                                <td>Organization</td>
                            </tr>
                            <tr id="idOfRow5" class="collapse out">
                                <td></td>
                                <td>
                                    Email Address: firstALastA@abc.com<br>
                                    Skill Level: Novice
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox">
                                </th>
                                <td>
                                    <i class="table-drop-button glyphicon glyphicon-triangle-right" data-toggle="collapse" data-target="#idOfRow6"></i>
                                    <a data-toggle="modal" data-target="#detailsOverlay">First Name</a>
                                </td>
                                <td><a data-toggle="modal" data-target="#detailsOverlay">Last Name</a></td>
                                <td>Organization</td>
                            </tr>
                            <tr id="idOfRow6" class="collapse out">
                                <td></td>
                                <td>
                                    Email Address: firstALastA@abc.com<br>
                                    Skill Level: Novice
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox">
                                </th>
                                <td>
                                    <i class="table-drop-button glyphicon glyphicon-triangle-right" data-toggle="collapse" data-target="#idOfRow7"></i>
                                    <a data-toggle="modal" data-target="#detailsOverlay">First Name</a>
                                </td>
                                <td><a data-toggle="modal" data-target="#detailsOverlay">Last Name</a></td>
                                <td>Organization</td>
                            </tr>
                            <tr id="idOfRow7" class="collapse out">
                                <td></td>
                                <td>
                                    Email Address: firstALastA@abc.com<br>
                                    Skill Level: Novice
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox">
                                </th>
                                <td>
                                    <i class="table-drop-button glyphicon glyphicon-triangle-right" data-toggle="collapse" data-target="#idOfRow8"></i>
                                    <a data-toggle="modal" data-target="#detailsOverlay">First Name</a>
                                </td>
                                <td><a data-toggle="modal" data-target="#detailsOverlay">Last Name</a></td>
                                <td>Organization</td>
                            </tr>
                            <tr id="idOfRow8" class="collapse out">
                                <td></td>
                                <td>
                                    Email Address: firstALastA@abc.com<br>
                                    Skill Level: Novice
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox">
                                </th>
                                <td>
                                    <i class="table-drop-button glyphicon glyphicon-triangle-right" data-toggle="collapse" data-target="#idOfRow9"></i>
                                    <a data-toggle="modal" data-target="#detailsOverlay">First Name</a>
                                </td>
                                <td><a data-toggle="modal" data-target="#detailsOverlay">Last Name</a></td>
                                <td>Organization</td>
                            </tr>
                            <tr id="idOfRow9" class="collapse out">
                                <td></td>
                                <td>
                                    Email Address: firstALastA@abc.com<br>
                                    Skill Level: Novice
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox">
                                </th>
                                <td>
                                    <i class="table-drop-button glyphicon glyphicon-triangle-right" data-toggle="collapse" data-target="#idOfRow10"></i>
                                    <a data-toggle="modal" data-target="#detailsOverlay">First Name</a>
                                </td>
                                <td><a data-toggle="modal" data-target="#detailsOverlay">Last Name</a></td>
                                <td>Organization</td>
                            </tr>
                            <tr id="idOfRow10" class="collapse out">
                                <td></td>
                                <td>
                                    Email Address: firstALastA@abc.com<br>
                                    Skill Level: Novice
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input type="checkbox">
                                </th>
                                <td>
                                    <i class="table-drop-button glyphicon glyphicon-triangle-right" data-toggle="collapse" data-target="#idOfRow11"></i>
                                    <a data-toggle="modal" data-target="#detailsOverlay">First Name</a>
                                </td>
                                <td><a data-toggle="modal" data-target="#detailsOverlay">Last Name</a></td>
                                <td>Organization</td>
                            </tr>
                            <tr id="idOfRow11" class="collapse out">
                                <td></td>
                                <td>
                                    Email Address: firstALastA@abc.com<br>
                                    Skill Level: Novice
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>